.movie-frame {
    .movie {
        margin: 20px;

            .cover{
                img{
                  
                }
            }

            .name {
                text-align: center;
                font-size: 18px;
                margin: 10px;

                .title {
                    font-weight: bold;
                }

                .year {
                    
                }
            }
    }
}